{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('solidCpServers') }}">{{ main_title }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('solidCpServers.show', {'id': solidcpHostingSpace.solidcpServer.id}) }}">{{ solidcpHostingSpace.solidcpServer.name }}</a></li>
        <li class="breadcrumb-item">{{ solidcpHostingSpace.name }}</li>
        <li class="breadcrumb-item active">Change Node</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Change</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
